{
  "extends": ["react-app"],
  "rules": {
    "comma-dangle": 0,
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "no-debugger": 0,
    "no-mixed-operators": "off"
  }
}
